@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";

  /* Colors */
  --color-white: #fff;
  --color-darkgray: #989da3;
  --color-darkblue: #2e34cc;
}
